@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.p-button {
  padding: 10px;
  background-color: #89B58C;
  border-radius: 10px;
}

.p-button:hover {
  background-color: #6f9671;
  transition: 0.3s;
}